$padding-size: 20px;
$margin-size: 10px;

$button-primary-default-background-color: white;
$button-primary-hover-background-color: lightgrey;
$button-primary-active-background-color: grey;
$theme-background-color: rgba(255, 165, 0, 0.5);
