$padding-size: 20px;
$margin-size: 10px;
$theme-background-color: #ffa6007a;
$shadow-color: #e0e0e0;
$transition-duration: 0.5s;
$transition-duration-button: 0.1s;

$button-default-background-color: #ffffff;
$button-hover-background-color: #dadada;
$button-active-background-color: #bebebe;

$input-background-color: #ffffff7e;
$input-active-color: #9494947e;
