$padding-size: 20px;
$margin-size: 10px;

$button-primary-default-background-color: #ffffff;
$button-primary-hover-background-color: #E0E0E0;
$button-primary-active-background-color: #C0C0C0;
$theme-background-color: #FF993386;
