$padding-size: 20px;
$margin-size: 10px;
$theme-background-color: #ffa6007a;
$shadow-color: #e0e0e0;
$transition-duration: 0.3s;

$button-default-background-color: #FFFFFF;
$button-hover-background-color: #dadada;
$button-active-background-color: #bebebe;

$input-background-color: #ffffff7e;
$input-active-color: #9494947e;